*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #011000;
}
.circle
{
    position: relative;
    width: 200px;
    height: 200px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 40px rgba(60, 248, 255, 0.2),
                0 0 0 80px rgba(60, 248, 255, 0.2),
                0 0 0 120px rgba(60, 248, 255, 0.2),
                0 0 0 160px rgba(60, 248, 255, 0.2),
                0 0 0 200px rgba(60, 248, 255, 0.2),
                0 0 0 240px rgba(60, 248, 255, 0.2);
}